In [1]:
#Importamos las librerias necesarias
import pandas as pd

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [11]:
pd.read_csv('lista_actores_1.csv')

                      0
0          Scott Arnold
1        Nathan Boreiko
2               Tj Carr
3         Jordy Dickens
4          Bill Fischer
...                 ...
2488   Katerina Alexová
2489      Krystof Pipek
2490     Zuzana Lisková
2491  Kristýna Líbalová
2492        Agáta Tichá

[2493 rows x 1 columns]

In [12]:
pd.read_csv('lista_actores_2.csv')

                       0
0            Dan Jopling
1         Croix Provence
2          Aswathi Balan
3          Vijay Karthik
4       Chivvaun Abigial
...                  ...
2534   Durukan Çelikkaya
2535        Tuana Almaci
2536          Keci Memos
2537        Baris Bayram
2538  Ancient City Woman

[2539 rows x 1 columns]

In [13]:
df_actores1 = pd.read_csv('lista_actores_1.csv')

In [14]:
df_actores2 = pd.read_csv('lista_actores_2.csv')

In [15]:
frames = [df_actores1,df_actores2]
df_actores_fase3 = pd.concat(frames, ignore_index=True)

df_actores_fase3.columns = ['0']

In [16]:
df_actores_fase3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5032 entries, 0 to 5031
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5032 non-null   object
dtypes: object(1)
memory usage: 39.4+ KB

In [17]:
df_actores_fase3.drop_duplicates(subset='0', inplace=True)

In [19]:
df_actores_fase3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5013 entries, 0 to 5031
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5013 non-null   object
dtypes: object(1)
memory usage: 78.3+ KB

In [22]:
df_actores_fase3.duplicated().sum()

0

In [24]:
save_path =  f'C:/Users/Sharon/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase3_concat_actores.csv'
df_actores_fase3.to_csv(save_path, index=False)