In [1]:
#Importamos las librerias necesarias
import pandas as pd

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [2]:
#creamos las variables necesarias
genere_list = ['Action', 'Comedy','Drama']

In [3]:
#Leemos los 3 csv existentes de los tres géneros y os guardamos en tres variables
genere = genere_list[0]
df_action = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[1]
df_comedy = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[2]
df_drama = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

In [4]:
#Juntamos los 3 DF en uno
frames = [df_action,df_comedy,df_drama]
df_fase1 = pd.concat(frames, ignore_index=True)

In [5]:
#corregimos un error en los nombres de las columnas
df_fase1.columns = ['tipo_pelicula', 'titulo_pelicula', 'anno_estreno', 'mes_estreno', 'id_pelicula','genero_pelicula']

In [7]:
df_fase1.columns

Index(['tipo_pelicula', 'titulo_pelicula', 'anno_estreno', 'mes_estreno',
       'id_pelicula', 'genero_pelicula'],
      dtype='object')

In [6]:
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493782 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    493782 non-null  object
 1   titulo_pelicula  493782 non-null  object
 2   anno_estreno     493782 non-null  int64
 3   mes_estreno      461052 non-null  object
 4   id_pelicula      493782 non-null  object
 5   genero_pelicula  493782 non-null  object
dtypes: int64(1), object(5)
memory usage: 22.6+ MB

In [7]:
#Eliminamos los duplicados
df_fase1.drop_duplicates(subset='id_pelicula')

#Reemplazamos los 'NaN' por 'N/A'
df_fase1.fillna('N/A', inplace=True)

In [15]:
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493782 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    493782 non-null  object
 1   titulo_pelicula  493782 non-null  object
 2   anno_estreno     493782 non-null  int64
 3   mes_estreno      493782 non-null  object
 4   id_pelicula      493782 non-null  object
 5   genero_pelicula  493782 non-null  object
dtypes: int64(1), object(5)
memory usage: 22.6+ MB

In [8]:
#Guardamos el DF en formato csv
save_path = f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_all_generes.csv'
df_fase1.to_csv(save_path, index=False)

In [9]:
#Extraemos 1000 películas random para que sea más viable trabajar con el DF en las siguientes fases
df_fase1_short = df_fase1.sample(1000)

In [10]:
df_fase1_short

,tipo_pelicula,titulo_pelicula,anno_estreno,mes_estreno,id_pelicula,genero_pelicula
125412,Short,Payday,2016,8,tt5931312,Comedy
327759,Movie,Planetarium,2016,11,tt4680196,Drama
68230,Short,5ºA Shortrooms,2012,N/A,tt11323842,Comedy
63486,Short,Ass Reflections,2011,5,tt2306445,Comedy
103645,Short,Porky's Boys,2014,11,tt9641578,Comedy
...,...,...,...,...,...,...
64088,Short,Happy Day,2011,por estrenar,tt2631102,Comedy
177487,Movie,Ammaa Ki Boli,2021,3,tt2211174,Comedy
170738,Short,Aluminum Gardenias,2020,5,tt12390832,Comedy
357808,Short,Tableau Vivant,2017,2,tt14344998,Drama
65935,Movie,The Magic of Belle Isle,2012,7,tt1839654,Comedy

In [11]:
save_path_short = f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1.csv'
df_fase1.to_csv(save_path_short, index=False)