In [8]:
#Importamos las librerias necesarias
import pandas as pd

# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

In [9]:
#creamos las variables necesarias
genere_list = ['Action', 'Comedy','Drama']

In [10]:
#Leemos los 3 csv existentes de los tres géneros y os guardamos en tres variables
genere = genere_list[0]
df_action = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[1]
df_comedy = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

genere = genere_list[2]
df_drama = pd.read_csv(f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_{genere}.csv')

In [11]:
#Juntamos los 3 DF en uno
frames = [df_action,df_comedy,df_drama]
df_fase1 = pd.concat(frames, ignore_index=True)

In [12]:
#corregimos un error en los nombres de las columnas
df_fase1.columns = ['tipo_pelicula', 'titulo_pelicula', 'anno_estreno', 'mes_estreno', 'id_pelicula','genero_pelicula']

In [7]:
df_fase1.columns

Index(['tipo_pelicula', 'titulo_pelicula', 'anno_estreno', 'mes_estreno',
       'id_pelicula', 'genero_pelicula'],
      dtype='object')

In [13]:
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493782 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    493782 non-null  object
 1   titulo_pelicula  493782 non-null  object
 2   anno_estreno     493782 non-null  int64
 3   mes_estreno      461052 non-null  object
 4   id_pelicula      493782 non-null  object
 5   genero_pelicula  493782 non-null  object
dtypes: int64(1), object(5)
memory usage: 22.6+ MB

In [14]:
#Eliminamos los duplicados
df_fase1.drop_duplicates(subset='id_pelicula')

#Reemplazamos los 'NaN' por 'N/A'
df_fase1.fillna('N/A', inplace=True)

In [15]:
df_fase1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493782 entries, 0 to 493781
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tipo_pelicula    493782 non-null  object
 1   titulo_pelicula  493782 non-null  object
 2   anno_estreno     493782 non-null  int64
 3   mes_estreno      493782 non-null  object
 4   id_pelicula      493782 non-null  object
 5   genero_pelicula  493782 non-null  object
dtypes: int64(1), object(5)
memory usage: 22.6+ MB

In [56]:
df_fase1.sort_values(by='genero_pelicula',ascending=False)

,tipo_pelicula,titulo_pelicula,anno_estreno,mes_estreno,id_pelicula,genero_pelicula
246891,Short,Hundstage,2012,6,tt2389944,Drama
329229,Movie,Hanadama: Gen'ei,2016,4,tt5542208,Drama
329197,Movie,Madness,2016,N/A,tt5526732,Drama
329196,Movie,Boku no saboten,2016,7,tt5526492,Drama
329195,Movie,Tamayura: Sotsugyou shasin - Dai-4-bu: Ashita,2016,4,tt5526070,Drama
...,...,...,...,...,...,...
30206,Short,Last Chance Saloon,2017,4,tt6736106,Action
30205,Short,At Bay,2017,N/A,tt6735656,Action
30204,Short,Finger Gun,2017,N/A,tt6740282,Action
30203,Short,Trying to Get Out,2017,N/A,tt6731710,Action
0,Movie,Multiverso,2024,11,tt10225380,Action

In [16]:
#Guardamos el DF en formato csv
save_path = f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1_csv/Fase1_2010_to_2024_all_generes.csv'
df_fase1.to_csv(save_path, index=False)

In [17]:
#Extraemos 1000 películas random para que sea más viable trabajar con el DF en las siguientes fases
df_fase1_short = df_fase1.sample(1000)

In [18]:
df_fase1_short

,tipo_pelicula,titulo_pelicula,anno_estreno,mes_estreno,id_pelicula,genero_pelicula
283121,Movie,Love Life,2014,1,tt9211488,Drama
229142,Short,Franklin,2011,por estrenar,tt2090503,Drama
13002,Short,Perception,2012,5,tt2200900,Action
223910,Short,La victoria de Úrsula,2011,4,tt1870440,Drama
50891,Short,I Had a Girlfriend,2010,9,tt1753927,Comedy
...,...,...,...,...,...,...
303874,Movie,Two-Eleven,2015,5,tt3561468,Drama
244231,Short,Unsung Heroes,2012,7,tt2291176,Drama
362875,Short,Just Remain,2017,7,tt6649906,Drama
163969,Short,The Mind of Karim Silva,2019,6,tt16233474,Comedy
34736,Movie,"The Badge, the Bible, and Bigfoot",2019,10,tt11208026,Action

In [23]:
save_path_short = f'/Users/Nuria/Desktop/Adalab/Proyecto-da-promo-H-modulo-2-team1-cine_freaks/Fase1.csv'
df_fase1.to_csv(save_path_short, index=False)